- var icons  = [ 'nome dos icons' ] //- variavel

.resume__container
  aside.aside
    ul.aside__list
      li.aside__elements
        for icon in icons
          a.button
            svg.aside__icons  
              use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")

  .breadcrumbs
    .breadcrumbs__tabs.is-selected      
        span.breadcrumbs__item _resume.jade
        svg.breadcrumbs__icon
          use(xlink:href="assets/defs.svg#icon-close")
    .breadcrumbs__tabs.is-unselected
        span.breadcrumbs__item _education.jade
        svg.breadcrumbs__icon
          use(xlink:href="assets/defs.svg#icon-close")

  .work-space
    .work-space__holder
      .work-space__header
        h1.work-space__title // Front End Developer Intern 
        h2.work-space__subtitle // Eventene 
      .work-space__qualifiers
        span.work-space__comment.is-commented-out // Key Qualifications and Responsibilities
        ul.work-space__list 
          each keys, slug in public.resume._data
            li.work-space__items--blue
              | li 
              span.work-space__desc #{ keys.mainKeys }




