.resume
  .vs
    .vs__tab.tab
      .tab.tab__files
        span _resume.jade
        svg.tab__icon
          use(xlink:href="assets/defs.svg#icon-close")
      .tab.tab__files
        span _education.jade
        svg.tab__icon
          use(xlink:href="assets/defs.svg#icon-close")
    .vs__content 

        
        
      .tab__search
      .tab__files
      .tab__files
      
    aside.vs__navbar.navbar
      ul.navbar
        li.navbar__elements
          for icon, slug in public.resume._data
            a.button
              svg.vsc__sidebar  
                use(xlink:href="assets/defs.svg#icon-#{ icon.icon }")


