.resume
  .vs
    .vs__navbar.navbar
      ul.navbar
        li.navbar__elements
          svg  
            use(xlink:href="assets/defs.svg#icon-files")
          svg  
            use(xlink:href="assets/defs.svg#icon-search")
          svg  
            use(xlink:href="assets/defs.svg#icon-source-control")
          svg  
            use(xlink:href="assets/defs.svg#icon-debugger")
          svg  
            use(xlink:href="assets/defs.svg#icon-extension-blocks")
    .vs__files.files 
      ul.files   
        
        