.aside {
  width: 50px;
  height: 100%;
  background: $mine-shaft-darker;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    transition: all .25s ease-in;

    &:first-child {
      margin-top: 25px;
    }

    &:hover {
      background-color: $gray-mine-shaft;
    }

    &:hover svg {
      fill: white;
    }
  }

  &__elements--active {
    border-left: 1px solid $wild-sand;
  }

  &__icons {
    max-width: 25px;
    max-height: 25px;
    fill: #7a7a7a;
  }

  &__icons:hover,
  &__icons:visited {
    fill: white;
  }

  &__button {
    cursor: pointer;
    padding: 10px;
    display: inherit;
    position: relative;

    &--selected svg {
      fill: white;
    }
  }
}
