.aside {
  width: 50px;
  height: 100%;
  background: #333333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &:first-child {
      margin-top: 25px;
    }
  }

  &__icons {
    max-width: 25px;
    max-height: 25px;
    fill: #7a7a7a;
  }

  &__icons:hover,
  &__icons:visited {
    fill: white;
  }

  &__button {
    cursor: pointer;
    margin: 10px 0;
    display: inherit;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border: 1px solid $green-malachite;
      left: -12px;
      height: 50px;
      top: -7px;
    }
  }
}
