.aside {
  width: 50px;
  height: 100%;
  background: $mine-shaft-darker;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    transition: all .25s ease-in;

    &:first-child {
      margin-top: 25px;
    }

    &:hover {
      background-color: $gray-mine-shaft;
    }

    &:hover svg {
      fill: white;
    }
  }

  &__elements--active {
    border-left: 1px solid $wild-sand;
  }

  &__icons {
    max-width: 23px;
    max-height: 23px;
    fill: $gray-boulder;
  }

  &__icons:hover,
  &__icons:visited {
    fill: white;
  }

  &__button {
    cursor: pointer;
    padding: 10px;
    display: inherit;
    position: relative;
    transition: all .5s ease-in;

    &--selected svg {
      fill: white;
    }

    &:hover + .aside__tooltip {
      display: inline ruby;
    }
  }

  &__tooltip,
  &__tooltip:before {
    position: absolute;
    background: $shark;
    border: 1px solid $tundora;
  }

  &__tooltip {
    display: none;
    left: 57px;
    top: 10px;
    color: $gray-alto;
    padding: 3px 10px;
    z-index: 9999;
    font-size: 14px;
  }

  &__tooltip:before {
    content: '';
    width: 10px;
    height: 10px;
    left: -6px;
    top: 5px;
    transform: rotate(45deg);
    border-top: transparent;
    border-right: transparent;
  }
}
