.breadcrumbs {
  background-color: $shark;
  top: 25px;
  height: 40px;
  box-shadow: 3px 3px 4px -1px;

  // ul {
  //   margin: 0;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }

  // li {
  //   list-style-type: none;
  //   height: 100%;
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-around;
  //   // display: flex;

  //   padding: 0 15px;
  //   align-items: center;
  //   // cursor: pointer;
  // }

  &__tabs {
    display: flex;
    justify-content: space-around;
    padding: 0 15px;
    align-items: center;
    cursor: pointer;
  }

  &__item {
    color: $gold-sand;
  }

  &__icon {
    max-width: 20px;
    fill: $emperor;
    max-height: 20px;
    margin-left: 15px;
  }
}
