.button {
  cursor: pointer;
  margin: 10px 0;
  display: inherit;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border: 1px solid $green-malachite;
    left: -12px;
    height: 50px;
    top: -7px;
  }

}


