.card {
  top: 25px;
  min-height: calc(100% - 65px);
  min-width: calc(100% - 50px);

  &__holder,
  &__holder--within {
    display: none;
  }

  &__holder {
    margin: 0 25px;

    @media screen and (max-width: $tablet-up) {
      margin: 0 10px;
    }

    @media screen and (max-width: $web-up) {
      margin: 0 15px;
    }
  }

  &__holder--active {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: inherit;
    flex-direction: column;
  }

  &__title {
    font-family: Menlo, Monaco, 'Courier New', monospace;
  }

  &__subtitle,
  &__list,
  &__comment {
    font-family: Hack, monospace;
  }

  &__title {
    color: $wheat;

    @media screen and (max-width: $tablet-up) {
      font-size: 22px;
    }
  }

  &__subtitle {
    color: $harvest-gold;

    @media screen and (max-width: $tablet-up) {
      font-size: 18px;
    }
  }

  &__items--faded {
    color: $gray-mine-shaft-faded;

    @media screen and (max-width: $tablet-up) {
      font-size: 14px;
      color: $tundora;
    }
  }

  &__qualifiers {
    padding-left: 20px;
    margin-top: 2rem;

    @media screen and (max-width: $tablet-up) {
      padding-left: 0;
      margin-top: .75rem;
    }

    @media screen and (max-width: $web-up) {
      padding-bottom: 15px;
      margin-top: .75rem;
    }
  }

  &__items--blue {
    color: #87DDFF !important;
    list-style-type: none;
  }

  &__desc {
    color: #D4D4D4;
  }

  &--centered {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: #0065A1;
    color: white;
    padding: 10px;
    border: none;
    transition: all .25s linear;
    cursor: pointer;

    &:hover {
      background-color: #0079C0;
    }

    &--spaced {
      margin: 15px 0;
    }
  }

  &__text {
    color: white
  }

  &__list {
    list-style-type: none;
    line-height: 1.6rem;
    color: $gray-alto;
    padding: 20px 0 35px;
    margin: 0;

    @media screen and (max-width: $tablet-up) {
      padding: 20px 0;
      line-height: 2rem
    }

    &--fadded {
      pointer-events: none;
      transition: all .25s ease-in-out ;

      & > * {
        pointer-events: auto;
      }

      &:hover > *,
      &:focus-within > * {
        opacity: .5;
      }

      &:hover > *:hover,
      &:focus-within > :focus {
        opacity: 1
      }
    }

    &--full {
      min-height: 500px;
      align-items: center;
    }

    &--horizontal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--spaced {
      margin: 1.6em 0;
    }
  }

  &__items:not(.card__items--default):not(.card__items--highlight):not(.card__items--link):not(.card__items--bordered):not(.card__items--spaced):not(.card__items.has-center-text) {
    padding-left: 15px;

    @media screen and (max-width: $tablet-up) {
      font-size: 13px;
    }
  }

  &__items--highlight {
    color: $gray-alto;
  }

  &__items--link {
    color: $harvest-gold;
  }

  &__items--padded {
    padding: 0 25px;
  }

  &__items--dispersed {
    margin: 0 15px;
  }

  &__items--spaced {
    margin: 15px 0;
  }

  &__items--bordered {
    border-bottom: 1px dashed $gray-mine-shaft-faded;
    transition: all .25s linear;

    &:hover {
      opacity: 1;
      border-bottom: 1px solid $emperor;
    }
  }

  &__items--azure {
    color: $blue-azure-radiance;
  }

  &__items--tagged {
    padding: 5px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.37);
    border-radius: 3px;
    transition: all .25s linear;

    &:hover:not(.card__items--static) {
      box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.37);
      color: $white-solid;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 2em;

    @media screen and (max-width: $web-up) {
      flex-direction: column;
    }

    &:last-of-type {
      margin-top: 0;
      margin-bottom: 2em;
    }

    &--centered {
      justify-content: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    &--wider {
      min-width: 550px;

      @media screen and (max-width: $web-up) {
        padding-right: 25px;
        min-width: unset;
      }
    }

    &--wider:last-of-type {
      margin: 0 25px 0 15rem;

      @media screen and (max-width: $web-up) {
        padding-right: 25px;
        margin: unset;
      }
    }

    &--full {
      width: 85%;

      @media screen and (max-width: $web-up) {
        width: 100%
      }
    }

    &--justified {
      justify-content: space-evenly;
    }
  }

  &__screen {
    max-width: 90%;
    width: 100%;
    height: 80%;
  }

  &__bind {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__info {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;

    svg {
      max-width: 25px;
      max-height: 25px;
    }

    &__message {

    }
  }

  svg {
    max-width: 15px;
    max-height: 15px;
    fill: #fff;
    margin-left: 10px
  }

}
