$green-christi: #6fb30b;
$green-limeade: #568c06;
$green-japanese-laurel: #008000;
$yellow-metal: #77773c;

$white-solid: #fff;
$wild-sand: #f5f5f5;

$black-solid: #000;
$gray-mine-shaft: #2f2f2f;
$emperor: #555;
$gray-alto: #d3d3d3;
