.container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  &__title,
  &__title--port,
  &__title--padded {
    @media screen and (max-width: $web-up) {
      font-size: 84px;
    }
  }

  &__title--padded {
    @media screen and (min-width: $hd) {
      width: 59%;
    }

    @media screen and (max-width: $hd-up) {
      width: 57%;
    }

    @media screen and (max-width: $web-up) {
      width: unset;
      
    }
  }

  &__title--port {
    margin-bottom: 85px;

    @media screen and (max-width: $web-up) {
      margin-bottom: 100px;
    }
  }

  &__subtitle {
    @media screen and (max-width: $web-up) {
      font-size: 36px;
      font-weight: bold;
    }
  }

  &__text,
  &__text--center,
  &__text--padded {
    width: 85%;
    line-height: 32px;
    font-size: large;

    @media screen and (max-width: $web-up) {
      font-size: 36px;
      line-height: 64px;
    }
  }

  &__text {
    text-align: left;
  }

  &__text--center {
    @media screen and (max-width: $web-up) {
      width: 100%;
      text-align: center;
    }
  }

  &__text--padded {
    @media screen and (min-width: $web){
      padding-left: 14%;
    }

    @media screen and (min-width: $hd-up) {
      padding-left: 13%
    }

    @media screen and (max-width: $web-up){
      text-align: center;
    }
  }
}