.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F2F2F;
  padding: 50px;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  &__icon,
  &__icon--resized {
    width: 36px;
    fill: white;
    height: 36px;
    transition: all .25s linear;

    @media screen and (max-width: $web-up){
      width: 30px;
      height: 30px;
    }
  }

  &__icon:hover {
    fill: #568c06;
  }

  &__link { 
    margin: 35px 25px;
  }

  &__title {
    color: white;

    @media screen and (max-width: $web-up) {
      font-size: 22px;
    }
  }
}