.education {
  display: flex;
  width: 100%;
  border-bottom-width: 50px;
  padding: 50px;
  background-color: $wild-sand;

  @media screen and (max-width: $web-up) {
    flex-direction: column-reverse;
    height: auto;
  }

  &__box,
  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $web-up) {
      width: 100%;
    }
  }

  &__list {
    border-right: 1px solid lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $web-up) {
      border-top: 2px solid lightgray;
      border-right: none;
      flex-direction: row;
      padding: 25px 0;
      justify-content: space-around;
    }
  }

  &__box {
    padding-left: 50px;

    @media screen and (max-width: $web-up) {
      text-align: center;
      padding: 50px 0;
    }
  }

  &__icon {
    @media screen and (min-width: $web) {
      width: 56px;
      height: 56px;
      margin: 0 15px;
      cursor: pointer;
      transition: all 0.25s linear;
    }

    @media screen and (max-width: $web-up) {
      width: 36px;
      height: 36px;
    }
  }

  &__icon:hover {
    @media screen and (min-width: $web) {
      fill: #568c06;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  &__tag {
    @media screen and (min-width: $web) {
      visibility: hidden;
      position: relative;
      margin-top: 25px;
      border: 2px solid var(--var-gray-alto);
      background-color: var(--var-gray-alto);
      color: var(--var-white);
      border-radius: 5px;
      width: 0;
      text-align: center;
      transition: all 0.25s linear;
    }

    @media screen and (max-width: $web-up) {
      display: none;
    }
  }

  &__icon:hover ~ .education__tag {
    @media screen and (min-width: $web) {
      visibility: visible;
      width: 65%;
    }
  }

  &__frame {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    justify-content: center;

    @media screen and (max-width: $web-up) {
      width: 100%;
    }
  }
}
