.education {
  display: flex;
  width: 100%;
  border-bottom-width: 50px;
  padding: 50px;
  background-color: #f5f5f5;

  @media screen and (max-width: $web-up) {
    flex-direction: column-reverse;
    height: auto;
  }

  &__box,
  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $web-up) {
      width: 100%;
    }
  }

  &__list {
    border-right: 1px solid lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $web-up) {
      border-top: 2px solid lightgray;
      border-left: none;
      flex-direction: row;
      padding: 50px;
      justify-content: space-around;
    }
  }

  &__box {
    padding-left: 50px;

    @media screen and (max-width: $web-up) {
      text-align: center;
      padding: 50px 0;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
    transition: all .25s linear;

    @media screen and (min-width: $web) {
      margin: 0 15px;
    }

    @media screen and (max-width: $web-up) {
      width: 85px;
      height: 85px;
    }
  }

  &__icon:hover {
    cursor: pointer;
    fill: #568c06;
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }

  &__tag {
    visibility: hidden;
    position: relative;
    margin-top: 25px;
    border: 2px solid lightgray;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    width: 0;
   
    text-align: center;
    transition: all .25s linear;
  }

  &__icon:hover ~ .education__tag {
    visibility: visible;
    width: 65%;
  }

  &__frame {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;

    @media screen and (max-width: $web-up) {
      width: 100%;
    }
  }
}