*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0;
  top: 0;
}

h1,
h2,
h3,
h4 { 
  
  font-family: 'Ledger', serif;
}

p {
  
  font-family: 'Libre Baskerville', serif;

}
// p {
//   font-size: 48px;
// }