.header {
  height: 300px;
  display: flex;
  background-color: black;
  color: white;

  @media screen and (max-width: $web-up){
    // flex-wrap: wrap;
    height: 100vh;
    // background-color: u;
    // background-image: URL('../assets/camelias.png');
  }
  

  &__title,
  &__image {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: $web-up){
      width: 100%;
    }
  }

  &__title {
    align-items: flex-end;

    @media screen and (max-width: $web-up){
      align-items: center;
    }
  }
  
  &__image {
    align-items: center;

    @media screen and (max-width: $web-up){
      display: none;
    }
      
  }

}