.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;

  @media screen and (max-width: $web-up) {
    padding: 25px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    @media screen and (max-width: $web-up) {
      flex-direction: column;
      width: 85%;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $wild-sand;
    padding-bottom: 15px;
    width: 350px;
    transition: all 0.25s linear;
    overflow: hidden;
    margin: 0 2%;

    @media screen and (max-width: $web-up) {
      margin-bottom: 100px;
      width: 100%;
    }
  }

  &__box:hover {
    box-shadow: 1px 2px 10px 3px rgba(106, 104, 104, 0.47);
  }

  &__box:hover .projects__tag {
    color: $yellow-metal;
  }

  &__link {
    text-decoration: none;
    color: $black-solid;
    transition: all 0.35s linear;
  }

  &__frame {
    max-height: 202px;
    max-width: 350px;
    overflow: hidden;
    padding: 10px;

    @media screen and (max-width: $web-up) {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__image {
    max-width: 100%;

    @media screen and (max-width: $web-up) {
      overflow: hidden;
    }
  }

  &__descriptive {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: $web) {
      padding: 0 15px;
    }

    @media screen and (max-width: $web-up) {
      padding: 0 15px;
    }
  }

  &__tag,
  &__desc {
    color: $black-solid;
  }

  &__tag {
    @media screen and (max-width: $web-up) {
      font-size: 16px;
    }
  }

  &__desc {
    font-size: 14px;
    color: $emperor;

    @media screen and (max-width: $web-up) {
      line-height: 26px;
      width: 90%;
    }
  }
}
