.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: var(--var-white);
  position: relative;

  @media screen and (max-width: $web-up) {
    padding: 25px;
  }

  &__wrap{
    display: flex;
    width: 85%;
    overflow: hidden;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;

    @media screen and (max-width: $tablet-up) {
      flex-direction: column;
      width: 85%;
      overflow: inherit;
    }
  }

  &__button {
    width: 5em;
    background: $suva-gray;
    border-radius: 10px;
    border: 1px solid $opaque-white;
    position: absolute;
    top: 50%;
    border-radius: 20%;
    height: 7.5em;
    padding: 0;
    bottom: 50%;
    transition: all .25s linear;
    font-weight: bold;

    &--left {
      left: 8%;

      @media screen and (max-width: $web-up) {
        left: 6%
      }
    }

    &--right {
      right: 8%;

      @media screen and (max-width: $web-up) {
        right: 6%
      }
    }

    &:hover {
      background: $scorpion;
      box-shadow: 0px 2px 10px 3px $black-opaque;
      color: white;
      font-weight: bolder;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--var-wild-sand);
    padding-bottom: 15px;
    min-width: 580px;
    transition: all 0.25s linear;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 2em;
    box-shadow: var(--var-box-sdw-static) 0px 2px 8px 0px;


    @media screen and (min-width: $qhd) {
      min-width: 700px;
    }

    @media screen and (max-width: $web-up) {
      min-width: 550px;
    }

    @media screen and (max-width: $tablet-up) {
      margin-bottom: 2em;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      min-width: unset;
      width: 100%;
    }
  }

  &__box:last-of-type {
    margin-right: 1%;
  }

  &__box:hover {
    box-shadow: var(--var-box-sdw-hvr-arnd) 0px 1px 2px 0px, var(--var-box-sdw-hvr-top) 0px 1px 3px 1px;
  }

  &__box:hover .projects__tag {
    color: var(--var-hover-card);
  }

  &__link {
    text-decoration: none;
    color: var(--var-darkest);
    transition: all 0.35s linear;
  }

  &__frame {
    max-height: 275px;
    overflow: hidden;
    padding: 10px;
    max-width: 100%;

    @media screen and (min-width: $qhd) {
      max-height: 320px;
    }

    @media screen and (max-width: $web-up) {
      max-height: 250px;
    }

    @media screen and (max-width: $tablet-up) {
      max-height: 100%;
    }
  }

  &__image {
    max-width: 100%;

    @media screen and (max-width: $web-up) {
      overflow: hidden;
    }
  }

  &__descriptive {
    display: flex;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: $web) {
      padding: 0 15px;
    }

    @media screen and (max-width: $web-up) {
      padding: 0 15px;
    }
  }

  &__tag {
    @media screen and (max-width: $web-up) {
      font-size: 16px;
    }
  }

  &__desc {
    font-size: 14px;
    color: var(--var-desc-text);
    transition: all 0.25s linear;

    @media screen and (max-width: $web-up) {
      line-height: 26px;
      width: 90%;
    }
  }
}
