.no-space-out {
  margin: 0;
}

.is-commented-out {
  color: $green-limeade !important;
}

.is-selected {
  background-color: $cod-gray !important;
}

.is-unselected {
  background-color: $mine-shaft !important;
}
