.no-space-out {
  margin: 0 !important;
}

.is-commented-out {
  color: $green-limeade !important;

  @media screen and (max-width: $tablet-up) {
    font-size: 13px;
  }
}

.is-selected {
  background-color: $cod-gray !important;
}

.is-unselected {
  background-color: $mine-shaft !important;
}

.is-shown {
  display: flex !important;
  flex-direction: column !important;
}

.is-hidden {
  display: none !important;
}

.has-center-block {
  justify-content: center ;
  align-items: center;
}

.is-wide {
  width: 100%;
}

.is-active {
  display: flex !important;
  flex-direction: column !important;
}

.is-open {
  opacity: 1 !important;
  pointer-events: all !important;
}

// RESPONSIVE STATES
.is-mobile-wide {
  @media screen and (max-width: $tablet-up) {
    width: 100% !important;
    padding: 0 10px 10px 0;
  }
}

.is-tablet-hidden {
  @media screen and (max-width: $tablet-up) {
    display: none !important;
  }
}

.is-web-hidden {
  @media screen and (max-width: $web-up) {
    display: none !important;
  }
}
