.no-space-out {
  margin: 0 !important;
}

.is-commented-out {
  color: $green-limeade !important;
}

.is-selected {
  background-color: $cod-gray !important;
}

.is-unselected {
  background-color: $mine-shaft !important;
}

.is-shown {
  display: flex !important;
  flex-direction: column !important;
}

.is-hidden {
  display: none !important;
}

.has-center-block {
  justify-content: center ;
  align-items: center;
}

.is-wide {
  width: 100%;
}

.is-active {
  display: flex !important;
  flex-direction: column !important;
}

.is-open {
  opacity: 1 !important;
  pointer-events: all !important;
}
