.tags {
  padding: 5px;
  margin: 0 5px;
  color: white;
  background: rgba( 255, 255, 255, 0.10 );
  box-shadow: 0 8px 32px 0 $jacksons-purple;
  backdrop-filter: blur( 4.0px );
  border-radius: 10px;
  border: 1px solid $opaque-white;

}
