doctype
html
  head
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css2?family=Ledger&family=Libre+Baskerville&display=swap" rel="stylesheet")
  body
    != yield