doctype
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='title', content="Felipe Rodrigues - Freelance Web Developer")
    meta(name='description', content="Freelance Web Developer")
    meta(name='image', content='https://felipprodrigues.github.io/assets/profile.png')
    //- Open Graph Facebook
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://felipprodrigues.github.io/')
    meta(property='og:title', content='Felipe Rodrigues')
    meta(property='og:description', content='Freelance Web Developer')
    meta(property='og:image', content='https://felipprodrigues.github.io/assets/profile.png')
    //-  Twitter
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='https://felipprodrigues.github.io/')
    meta(property='twitter:title', content='Felipe Rodrigues')
    meta(property='twitter:description', content='Freelance Web Developer')
    meta(property='twitter:image', content='https://felipprodrigues.github.io/assets/profile.png')
    title Felipe Rodrigues - Frontend Developer
    link(rel="stylesheet" href="css/main.css")
    link(href="https://fonts.googleapis.com/css2?family=Ledger&family=Libre+Baskerville&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css')

  body
    != yield
    script(type="text/javascript" defer src="/script.js")
