.container 
  #header.header  
    .header__frame
      img.header__image(src="/assets/profile.png", alt="Oops!")
    .header__title
      h1.header__name Felipe Rodrigues
      span.header__subtitle Freelance Web Developer 

  .bio
    h2.container__title--padded Hi there!
    p.container__text--padded  My name is Felipe Rodrigues and I have been studying and working with web development as a freelancer. My education has led me to coding which is a fundamental and relevant aspect of the current century made to ease daily life overall. Due to a paper I personally wrote during my graduate studies on blockchain technology, I found great opportunity in learning and expanding my knowledge with regards the key elements of web development.
      br
      br
      | All the projects I have worked on are open source. I invite you to check out further some of my work in the 
      a.bio__hook(href="#projects") projects
      | &nbsp; section or my coding on my 
      a.bio__hook(href="https://github.com/felipprodrigues") github
      | &nbsp; page.

  .education
    != partial("education/_education")  

  #projects.projects
    != partial("projects/_projects") 
    
  .workdone
    h2.contact__title Work Exp
    .workdone__content 
      .span BLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA

  .contact
    h2.contact__title Get in Touch
    .contact__wrap  
        a.contact__link(href="mailto:dev.rodriguesfelipp@gmail.com")  
          svg.contact__icon
            use(xlink:href="assets/defs.svg#icon-email")
        a.contact__link(href="https://github.com/felipprodrigues" target="_blank")
          svg.contact__icon 
            use(xlink:href="assets/defs.svg#icon-github")
        a.contact__link(href="https://codepen.io/rodriguesfelipp" target="_blank")
          svg.contact__icon 
            use(xlink:href="assets/defs.svg#icon-codepen")