.container 
  #header.header  
    .header__frame
      img.header__image(src="/assets/profile.png", alt="Oops!")
    .header__title
      h1.header__name Felipe Rodrigues
      span Freelance Web Developer 


  .bio
    h2.container__title Hi there!
    p.container__text--padded  My name is Felipe Rodrigues and I have been studying and working with web development as a freelancer. My education has led me to coding which is a fundamental and relevant structure for negotiations and made to ease daily life overall. Due to a paper I personally wrote during my graduate studies on blockchain technology, I found great opportunity in employing coding to the virtualization of modern international, professional e personal concepts. 
      br
      br
      | All the projects I have worked on are open source. I invite you to check out further some of my work in the 
      a.bio__hook(href="#projects") projects
      | &nbsp; section or my coding on my 
      a.bio__hook(href="https://github.com/felipprodrigues") github
      | &nbsp; page.
      

  .education
    != partial("education/_education")  

  #projects.projects
    h2.container__title--port Projects
    .projects__wrap  
      .projects__box 
        a.projects__link(href="https://camelias-residencial.github.io/produtos-servicos/" target="_blank") 
          .projects__frame
            img.projects__image(src="assets/camelias.png", alt="Ooops")
          .projects__descriptive
            h4.projects__tag Camélias Produtos e Serviços
            p.projects__desc Project designed aiming to ease and help locals and service providers from within a community
      .projects__box 
        a.projects__link(href="https://tainasilva.com.br/" target="_blank")
          .projects__frame
            img.projects__image(src="assets/taina.png", alt="Ooops")
          .projects__descriptive
            h4.projects__tag Tainá's Website
            p.projects__desc A project for an architect and researcher's new website
      .projects__box 
        a.projects__link(href="https://theater-theme.github.io/theater-theme/" target="_blank") 
          .projects__frame
            img.projects__image(src="assets/theater.png", alt="Ooops")
          .projects__descriptive
            h4.projects__tag Theater-themed Template
            p.projects__desc Study case of a theater-themed template laying it out afterwards to the open source community

  .contact
    h2.contact__title Get in Touch
    .contact__wrap  
      a.contact__link(href="mailto:dev.rodriguesfelipp@gmail.com")  
        svg.contact__icon
          use(xlink:href="assets/defs.svg#icon-email")
      a.contact__link(href="https://github.com/felipprodrigues")
        svg.contact__icon 
          use(xlink:href="assets/defs.svg#icon-github")
      a.contact__link(href="https://codepen.io/rodriguesfelipp")
        svg.contact__icon 
          use(xlink:href="assets/defs.svg#icon-codepen")

    

      

  

    
