.container
  #header.header
    label(for="checkbox").switch
      input(type="checkbox")#switch__checkbox.switch__checkbox
      span.switch__checkmark.checkmark
        svg.checkmark.checkmark__svg
          use(xlink:href="assets/defs.svg#icon-moon")
        svg.checkmark.checkmark__svg
          use(xlink:href="assets/defs.svg#icon-sun")
        .switch__overlay
    a.header__holder(href="/assets/download/farResume.pdf" download="felipe-resume")
      svg.header__icon
        use(xlink:href="assets/defs.svg#icon-download")

    .header__frame
      img.header__image(src="/assets/profile.png", alt="Oops!")
    .header__title
      h1.header__name Felipe Rodrigues
      span.header__subtitle Front End Developer

  section.bio
    h2.container__title--padded Hi there!
    p.container__text--padded My name is Felipe Rodrigues, a front-end developer who's always searching for deploying the best of my capabilities.
      br
      br
      | My experience traverses through front-end development by consistently deploying projects with Next.js, React and Style-Components and preprocessors like Sass, building tools such as webpack, parcel or harp, managing component libraries with Storybook and using template engines being Pug / Jade and Slim.
      | Thus, applying new patterns and being in-sync with the latest technology updates and best practices to trying new frameworks and ecosystems adventuring myself with Elixir.
      br
      br
      | As an advocate of the open source environment, I invite you to check out further some of my work in the
      a.bio__hook(href="#projects")
        |&nbsp; projects
      |&nbsp; section, but if you really want to dive deep on how I coded them I strongly recommend visiting my
      a.bio__hook(href="https://github.com/felipprodrigues")
        |&nbsp; github
      |&nbsp; page.

  section.resume
    != partial("resume/_resume")

  section#projects.projects
    != partial("projects/_projects")

  section.contact
    != partial("contact/_contact")
