.education__list
  .education__frame  
    .education__wrap
      svg.education__icon  
        use(xlink:href="assets/defs.svg#icon-html")
      span.education__tag Html
    .education__wrap
      svg.education__icon  
        use(xlink:href="assets/defs.svg#icon-css")
      span.education__tag CSS
    .education__wrap
      svg.education__icon  
        use(xlink:href="assets/defs.svg#icon-pug")
      span.education__tag Pug
    .education__wrap
      svg.education__icon  
        use(xlink:href="assets/defs.svg#icon-sass")
      span.education__tag Sass
    .education__wrap 
      svg.education__icon  
        use(xlink:href="assets/defs.svg#icon-git")
      span.education__tag Git

.education__box
  h2.container__title Education
  h3.container__subtitle Universidade do Sagrado Coração (USC)
  p.container__text--center International Affais Bachelor's Degree (2011 - 2014) 
  p.container__text--center International Business Management Graduate Degree (2016 - 2017)

