.education__box
  h2.container__title Education
  h4.container__subtitle Universidade do Sagrado Coração (USC)
  p.container__text--center International Affais Bachelor's Degree (2011 - 2014) 
  p.container__text--center International Business Management Graduate Degree (2016 - 2017)

.education__list
  svg.education__icon  
    use(xlink:href="assets/defs.svg#icon-html")
  svg.education__icon  
    use(xlink:href="assets/defs.svg#icon-css")
  svg.education__icon  
    use(xlink:href="assets/defs.svg#icon-pug")
  svg.education__icon  
    use(xlink:href="assets/defs.svg#icon-sass")
  svg.education__icon  
    use(xlink:href="assets/defs.svg#icon-git")